{{#each users}}
<li class="item-card">
    <p class="text-crad">
        name: {{name}}
    </p>
    <p class="text-crad">
        year: {{year}}
    </p>
    <p class="text-crad">
        id: {{id}}
    </p>
</li>
{{/each}}